@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 255 48% 100%;
        --foreground: 255 62% 5%;
        --muted: 75 9% 90%;
        --muted-foreground: 75 11% 38%;
        --popover: 255 48% 100%;
        --popover-foreground: 255 62% 5%;
        --card: 0 0% 99%;
        --card-foreground: 255 62% 4%;
        --border: 255 12% 94%;
        --input: 255 12% 94%;
        --primary: 255 50% 90%;
        --primary-foreground: 255 50% 30%;
        --secondary: 75 50% 90%;
        --secondary-foreground: 75 50% 10%;
        --accent: 75 50% 90%;
        --accent-foreground: 75 50% 10%;
        --destructive: 19 97% 31%;
        --destructive-foreground: 0 0% 100%;
        --ring: 255 50% 90%;
        --chart-1: 255 50% 90%;
        --chart-2: 75 50% 90%;
        --chart-3: 75 50% 90%;
        --chart-4: 75 50% 93%;
        --chart-5: 255 53% 90%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 255 57% 4%;
        --foreground: 255 35% 100%;
        --muted: 75 9% 10%;
        --muted-foreground: 75 11% 62%;
        --popover: 255 57% 4%;
        --popover-foreground: 255 35% 100%;
        --card: 255 57% 5%;
        --card-foreground: 0 0% 100%;
        --border: 255 12% 15%;
        --input: 255 12% 15%;
        --primary: 255 50% 90%;
        --primary-foreground: 255 50% 30%;
        --secondary: 75 50% 90%;
        --secondary-foreground: 75 50% 10%;
        --accent: 75 50% 90%;
        --accent-foreground: 75 50% 10%;
        --destructive: 19 97% 60%;
        --destructive-foreground: 0 0% 0%;
        --ring: 255 50% 90%;
        --chart-1: 255 50% 90%;
        --chart-2: 75 50% 90%;
        --chart-3: 75 50% 90%;
        --chart-4: 75 50% 93%;
        --chart-5: 255 53% 90%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
